<section class="flex flex-col gap-[48px] mx-auto max-w-[1542px] w-full" aria-label="Otras Noticias" tabindex="0">
  <div class="flex flex-col max-w-[1542px] gap-6">
    <h2 id="carousel-heading" class="font-['Inter'] font-bold text-[48px] leading-[58px]" tabindex="0">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.</h2>
    <p class="font-['Inter'] font-normal text-base leading-6" tabindex="0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.</p>
  </div>

  <ul class="flex flex-row mx-auto items max-w-[1542px] h-[482px] gap-8" role="list" aria-label="Lista de otras noticias" tabindex="0">
    <carousel-item class="list-none" role="listitem"/>
    <carousel-item class="list-none" role="listitem"/>
    <carousel-item class="list-none" role="listitem"/>
    <carousel-item class="list-none" role="listitem"/>
  </ul>
</section>
