<div class="flex w-auto h-[482px]">

  <!-- imagen de fondo -->
  <figure class="">
    <img class="absolute rounded-[8px]" src="https://placehold.co/362x482?text=IMAGE" alt="">
  </figure>

  <!-- info del item -->
  <div class="flex flex-col justify-between self-end p-[16px] relative w-[362px] h-[175px] bg-gradient-to-b from-transparent to-black rounded-[8px] gap-[8px]">
    <div class="flex flex-col gap-[8px]">

      <!-- titulo del item -->
      <h4 class="font-bold text-[30px] font-inter leading-[38px] text-neutral-100">Lorem ipsum</h4>

      <!-- descripcion del item -->
      <p class="font-normal font-inter text-[16px] leading-[24px] text-neutral-100">Lorem ipsum dolor sit amet consectetur.</p>
    </div>

    <!-- ver más -->
    <div class="flex flex-row cursor-pointer text-neutral-100 gap-[4px] w-fit">
      <p class="font-bold font-inter text-[16px] leading-[24px]">Lorem ipsum</p>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
      </svg>
    </div>
  </div>
</div>
